* {box-sizing: border-box}


.register {
    padding: 16px;
    &__signin {
        background-color: #f1f1f1;
        text-align: center;
    }
    &__input[type=email], [type=password]{
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: white;
    }
    &__input[type=email]:focus, [type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    &__hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
}

.login {
    padding: 16px;
    &__register {
        background-color: #f1f1f1;
        text-align: center;
    }
    &__input[type=email], [type=password]{
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: white;
    }
    &__input[type=email]:focus, [type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    &__hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
}

/* Set a style for the submit/register button */
.button {
  background-color: #5b645b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  &:hover {
    background-color: rgb(55, 170, 61);
  }
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

